/* Intro */

.intro {
    overflow: auto;
    top: 0; right: 0; bottom: 0; left: 0;
    display: flex;
}

.introText {
    height: 100%;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3em;
    text-align: left;
    padding: 10%;
}
.highlight {
    color: #0085ff
}

body {
    color: black;
}

/* Work */

.work {
    overflow: auto;
    top: 0; right: 0; bottom: 0; left: 0;
    display: flex;
}

/* Projects */

.projectCards {
    margin-top: 7%;
    margin-left: 2%;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.projectCard {
    width: 30rem;
    margin-right: 5%;
}

/* Stack */
