.navbar {
    width: 100%;
}
.profile {
    border-radius: 50%;
    width: 50px;
}
.links {
    position: absolute;
    bottom: 7.5vmin;
    letter-spacing: 2em;
    left: 0; 
    right: 0; 
    margin: auto; 
    text-align: center;
}

.nav-text {
    margin-left: 5%;
    margin-right: 5%;
}

.blackiconcolor {
    color:black;
}

.blackiconcolor:hover {
    color: #0085ff
}